



@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-pattern {
  background-color: #1798c1;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #1798c1 10px), repeating-linear-gradient(#29ec4855, #29ec48);
}